<div class="section margin-heading" id="contact">
  <div class="row">
    <div class ="col mx-auto d-block">
      <ul class="list-group">
        <p id="heading">
          Contact
        </p>
        <li class="list-group-item">
          <p>Email:</p>
          <p class="contact-details">kdelacruz.ivyleague@gmail.com</p>
        </li>
        <li class="list-group-item">
          <p>Phone:</p>
          <p class="contact-details">+63 915 299 2370</p>
        </li>
      </ul>
    </div>
    <div class ="col mx-auto d-block">
      <ul class="list-group">
        <li class="list-group-item">
          <h5>Get in touch, let's talk.</h5>
          <p>Feel free to email me or arrange consultation with me.</p>
        </li>
        <li class="list-group-item">
          <form class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Name (required)</label>
              <input type="name" class="form-control" id="inputName">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Email (required)</label>
              <input type="email" class="form-control" id="inputEmail">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Message</label>
              <textarea class="form-control" placeholder="Your message here..."></textarea>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>