<div class="spacer" id="skills"></div>
<div class="section">
  <p class="display-5 margin-heading" id="tech-stacks">
    My tech stacks: 
  </p>
  <div class="row">
    <div class="col">
      <img src="../../assets/html-5.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/css-3.png" class="img-fluid ico" alt="adobexd">
    </div>
    <div class="col">
      <img src="../../assets/javascript.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/java.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/flutter.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/dart.png" class="img-fluid ico" alt="photoshop">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="../../assets/photoshop.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/illustrator.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/xd.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/figma.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/vscode.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/github.png" class="img-fluid ico" alt="photoshop">
    </div>
  </div>
</div>
<div class="section">
  <p class="margin-heading" id="heading">
    Qualifications:
  </p>
  <div class="row">
    <div class ="col mx-auto">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5>President Lister</h5>
          <p>Holy Angel University<br/>
            BS in Information Technology Major in Web Development<br/>
            2020-Present
          </p>
        </li>
        <li class="list-group-item">
          <h5>Deans Lister</h5>
          <p>STI College San Fernando<br/>
            BS in Information Technology Major in Web Development<br/>
            2019-2020
          </p>
        </li>
        <li class="list-group-item">
          <h5>With Honors</h5>
          <p>STI College San Fernando<br/>
            TVL-ICT Mobile App and Web Development<br/>
            2017-2019
          </p>
        </li>
      </ul>
    </div>
    <div class ="col mx-auto">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5>Vice Chairperson</h5>
          <p>College Student Council<br/>
            School of Computing, Holy Angel University<br/>
            2021-2022
          </p>
        </li>
        <li class="list-group-item">
          <h5>Vice President - Internal</h5>
          <p>Ivy League Student Organization<br/>
            Holy Angel University<br/>
            2019-2020
          </p>
        </li>
        <li class="list-group-item">
          <h5>Commitee for Multimedia Arts and Creatives Staff</h5>
          <p>University Student Council<br/>
            Holy Angel University<br/>
            2019-2020
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

