<div class="spacer" id="portfolio"></div>
<div class="section">
  <p class="margin-heading" id="heading">
    Portfolio:
  </p>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div id="carousel1" class="carousel carousel-fade slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/smartdeck1.png" class="d-block w-100" alt="smartdeck">
            </div>
            <div class="carousel-item">
              <img src="../../assets/smartdeck2.png" class="d-block w-100" alt="smartdeck">
            </div>
            <div class="carousel-item">
              <img src="../../assets/smartdeck3.png" class="d-block w-100" alt="smartdeck">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-body">
          <p class="card-text">
            SmartDeck is a concept design for our 
            mobile application development project.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div id="carousel2" class="carousel carousel-fade slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/imdb1.png" class="d-block w-100" alt="imdb">
            </div>
            <div class="carousel-item">
              <img src="../../assets/imdb2.png" class="d-block w-100" alt="imdb">
            </div>
            <div class="carousel-item">
              <img src="../../assets/imdb3.png" class="d-block w-100" alt="imdb">
            </div>
            <div class="carousel-item">
              <img src="../../assets/imdb4.png" class="d-block w-100" alt="imdb">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-body">
          <p class="card-text">
            A redesigned IMDb mobile movie application 
            for HCI to showcase our skills in designing 
            interfaces. 
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div id="carousel3" class="carousel carousel-fade slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/startup1.png" class="d-block w-100" alt="startup">
            </div>
            <div class="carousel-item">
              <img src="../../assets/startup2.png" class="d-block w-100" alt="startup">
            </div>
            <div class="carousel-item">
              <img src="../../assets/startup3.png" class="d-block w-100" alt="startup">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-body">
          <p class="card-text">
            A wireframe concept for our website project using VUE.js
          </p>
        </div>
      </div>
    </div>
  </div>
</div>